<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userService" class="org.nasuf.springframework.bean.UserService" scope="prototype">
        <property name="uId" value="10001"/>
        <property name="company" value="Tencent"/>
        <property name="location" value="Beijing"/>
        <property name="userDao" ref="proxyUserDao"/>
    </bean>

    <bean id="proxyUserDao" class="org.nasuf.springframework.bean.ProxyBeanFactory"/>

    <bean class="org.nasuf.springframework.event.ContextClosedEventListener"/>
    <bean class="org.nasuf.springframework.event.ContextRefreshedEventListener"/>
    <bean class="org.nasuf.springframework.event.CustomEventListener"/>

</beans>